<main>
    <div class="info">
        <h1>Quienes Somos ?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam in asperiores inventore mollitia assumenda? Nesciunt, accusantium soluta incidunt saepe, et atque, aliquid quasi tempore quos voluptas laboriosam voluptates? Similique, esse.</p>
        <h2>Donde nos encontramos?</h2>
        <div class="maps">Aca va el maps</div>
    </div>
    <section class="about">
        <div class="info">
            <h3>Nuestros Productos</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione accusantium, illo ducimus fuga, libero maxime nihil fugit reiciendis magni, sint sunt nobis! Ex voluptatibus mollitia ipsum, voluptatum quia quasi suscipit.</p>
        </div>
        <div class="container-card">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="cv">
        <h4>Dejanos tu opinion o consultas</h4>
        <form>
            <div class="form-group">
              <label for="formGroupExampleInput">Example label</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Another label</label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
            </div>
          </form>
    </section>
    
</main>