<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>cant</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ice of ices" [ngClass]="{'supply' : ice.supply}">
            <td><img class="rounded" [src]="ice.image" [alt]="ice.cant"></td>
            <td>{{ice.cant}}</td>
            <td>{{ice.price | currency}}</td>
            <td ><span *ngIf="ice.stock == 0" class="badge text-bg-warning">Sin Stock</span></td>
            <td>
              <app-input-int [(quantity)]="ice.quantity" [max]="ice.stock" *ngIf="ice.stock" (maxReached)="maxReached($event)"></app-input-int>
              Cant: {{ice.quantity}}
            </td>
        </tr>
    </tbody>
</table>
