<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Quantity</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ice of ices" [ngClass]="{'supply' : ice.supply}">
            <td><img class="rounded" [src]="ice.image" [alt]="ice.quantity"></td>
            <td>{{ice.quantity}}</td>
            <td>{{ice.price | currency}}</td>
            <td ><span *ngIf="ice.stock == 0" class="badge text-bg-warning">Sin Stock</span></td>
        </tr>
    </tbody>
</table>