.container{
  border: 2px solid black;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  font-family: monospace;
  font-weight: bold;
  background: #fafafa;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 2px 2px 12px black;
}

li{
  list-style: none;
  
}
