.container_cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 75vh;
    border: 1px solid black;
    border-radius: 20px;
    margin: 25px 0;
    background-color: #fafafa;
    box-shadow: 1px 1px 15px black;
}
.card{
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}