<main>
    <section>
        <div class="title">
            <img src="..." alt="">
            <h1>Bienvenidos</h1>          
        </div>
    </section>

    <div class="buy">
        <h2>Realiza tu pedido</h2>
        <div class="container_cards">
            <div class="card" style="width: 18rem;">
                <a [routerLink]="['/creams']"><img class="card-img-top" src="..." alt="Card image cap"></a>
                <div class="card-body">
                  <p class="card-text">1/4kg</p>
                </div>
            </div>
        
            <div class="card">
                <div class="card" style="width: 18rem;">
                    <a [routerLink]="['/creams']"><img class="card-img-top" src="..." alt="Card image cap"></a>
                    <div class="card-body">
                        <p class="card-text">1/2</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card" style="width: 18rem;">
                    <a [routerLink]="['/creams']"><img class="card-img-top" src="..." alt="Card image cap"></a>
                    <div class="card-body">
                        <p class="card-text">1kg</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
